*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    background-color:black ;
    
}
.body{
    background-color:black;
}
.nav{
    display: flex;
    height:10vh;
    align-items: center;
    color: rgb(250, 245, 245);
    position: sticky;
    top:0;
}
.bt1 button{
   
   
    font-size: 20px;
    display: none;   

}
.title{
    width:50%;

}
.title h1{
    text-indent: 20px;
}
.menu{
    width:50%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.menu a{
    text-decoration: none;
    color: white;
}

.menu a:hover{
    background-color: rgb(236, 227, 227);
    color: rgb(10, 10, 10);
    
}
.container1{
    display: flex;
    justify-content:space-between ;
    padding:10px;
    background-color: black
    
}
.content1{
    width:50%;
    padding:50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    

}
.content1 button{
    width: 200px;
    height:8vh;
    color: black;
    background-color:white;
}
.img{
    width:50%;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#menu-btn{
    display: none;
}
.container2{
    text-align: center;
    padding-left: 40px;
    padding-right:40px;
}


@media only screen and (min-width:300px) and (max-width:700px){

.container1{
    flex-direction: column-reverse;
    align-items: center;
    
}
.content1{

width:100%;
}

.menu {
    display: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top:80px;
    right:0px;
    width:20%;
    
    
    

}
#menu-btn{
    display: block;
    width:50px;
    height: 50px;
    position: absolute;
    right: 50px;
}
}